
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito&family=Roboto:wght@100;300;400&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito&family=Poppins&family=Roboto:wght@100;300;400&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito&family=Poppins:wght@400;700&family=Roboto:wght@100;300;400&family=Supermercado+One&display=swap');
*{
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	background-color: white;
	color: #333;
	font-family: 'Mada', sans-serif;
	font-size: 1rem;
	height: 100%;
	line-height: 1.5;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Mada', sans-serif;
	margin-top: 0;
}
a,
a:hover,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
	color: #ee344e;
}
.example::-webkit-scrollbar {
	display: none;
}


